flows.json
[{"id":"dfb1e7e5.16cc98","type":"tab","label":"MQTT Sub Test","disabled":false,"info":""},{"id":"c180af89.13e0f8","type":"tab","label":"MQTT Pub Test","disabled":false,"info":""},{"id":"66b762c5.16ae34","type":"mqtt-broker","z":"","name":"localhost connection","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"efa1653.4859c18","type":"mqtt in","z":"dfb1e7e5.16cc98","name":"","topic":"iot","qos":"2","datatype":"auto","broker":"66b762c5.16ae34","x":230,"y":260,"wires":[["5735139c.79913c"]]},{"id":"5735139c.79913c","type":"debug","z":"dfb1e7e5.16cc98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":260,"wires":[]},{"id":"cf174d86.4535b","type":"mqtt out","z":"c180af89.13e0f8","name":"","topic":"iot","qos":"","retain":"","broker":"66b762c5.16ae34","x":450,"y":240,"wires":[]},{"id":"f414a062.5dc6c","type":"inject","z":"c180af89.13e0f8","name":"","topic":"","payload":"Test MQTT Pub String","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":240,"wires":[["cf174d86.4535b"]]}]