node-red/flows.json
[{"id":"165556c3.973579","type":"tab","label":"Test UI","disabled":true,"info":""},{"id":"f2c972ab.af95e","type":"tab","label":"MQTT Sub Test","disabled":true,"info":""},{"id":"d5c1324c.f29c8","type":"tab","label":"MQTT Pub Test","disabled":true,"info":""},{"id":"c7223676.206a18","type":"tab","label":"MQTT Pub To Mongo","disabled":false,"info":"First subscribe to MQTT topic.\nListen on that topic.\nUpon new message, process the string.\nIf valid json string (format, etc.), then upload to db."},{"id":"e6bc050e.b26ee","type":"tab","label":"Sensors Real Time","disabled":false,"info":""},{"id":"7771c270.8c88ec","type":"mqtt-broker","z":"","name":"localhost connection","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"35aa439f.024c3c","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"iot","name":"IOT Database Connection"},{"id":"c55974a.348f988","type":"ui_group","z":"","name":"Sensors Values Over Time","tab":"4be093fd.d659dc","disp":true,"width":"6","collapse":false},{"id":"4be093fd.d659dc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"5ad64a23.2527e4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5545d1b5.fc5da","type":"ui_group","z":"","name":"Sensors Real Time","tab":"4be093fd.d659dc","disp":true,"width":"6","collapse":false},{"id":"db07b4c9.7627a8","type":"ui_gauge","z":"165556c3.973579","name":"","group":"c55974a.348f988","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":240,"wires":[]},{"id":"51f5012.88e1c8","type":"mqtt in","z":"f2c972ab.af95e","name":"","topic":"test","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":230,"y":260,"wires":[["c0104ec.4e99b3"]]},{"id":"c0104ec.4e99b3","type":"debug","z":"f2c972ab.af95e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":260,"wires":[]},{"id":"ee2ca0b4.370fc8","type":"mqtt out","z":"d5c1324c.f29c8","name":"","topic":"test","qos":"","retain":"","broker":"7771c270.8c88ec","x":450,"y":240,"wires":[]},{"id":"69ba30d8.3268c","type":"inject","z":"d5c1324c.f29c8","name":"","topic":"","payload":"Test MQTT Pub String","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":240,"wires":[["ee2ca0b4.370fc8"]]},{"id":"26b3ee3f.83a162","type":"mqtt in","z":"c7223676.206a18","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":220,"y":340,"wires":[["fd434f08.6c7d28","4497ac47.3c6394"]]},{"id":"fd434f08.6c7d28","type":"debug","z":"c7223676.206a18","name":"ESP Sensor Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":260,"wires":[]},{"id":"b5529f41.e66c98","type":"mongodb out","z":"c7223676.206a18","mongodb":"35aa439f.024c3c","name":"Insert Sensor Data","collection":"esp_sensors","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":650,"y":340,"wires":[]},{"id":"4497ac47.3c6394","type":"json","z":"c7223676.206a18","name":"","property":"payload","action":"","pretty":true,"x":410,"y":360,"wires":[["b5529f41.e66c98","6beb2456.f3941c"]]},{"id":"6beb2456.f3941c","type":"debug","z":"c7223676.206a18","name":"Debug insertion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":420,"wires":[]},{"id":"4a43394d.41b678","type":"inject","z":"c7223676.206a18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":560,"wires":[["4c455838.11c418"]]},{"id":"4c455838.11c418","type":"mongodb in","z":"c7223676.206a18","mongodb":"35aa439f.024c3c","name":"find all esp_sensors","collection":"esp_sensors","operation":"find","x":420,"y":560,"wires":[["e9913b18.d99038"]]},{"id":"e9913b18.d99038","type":"debug","z":"c7223676.206a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":560,"wires":[]},{"id":"1fcc14f0.922e73","type":"mqtt in","z":"165556c3.973579","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":170,"y":240,"wires":[["db07b4c9.7627a8"]]},{"id":"e5bf8a70.5c7a18","type":"mqtt out","z":"165556c3.973579","name":"","topic":"esp/sensors","qos":"","retain":"","broker":"7771c270.8c88ec","x":510,"y":360,"wires":[]},{"id":"8cc86884.cf2f08","type":"inject","z":"165556c3.973579","name":"","topic":"esp/sensors","payload":"{\"temp\":43}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":360,"wires":[["3e58ab54.dd5d54"]]},{"id":"3e58ab54.dd5d54","type":"function","z":"165556c3.973579","name":"","func":"var payload = msg.payload;\nmsg.payload = payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["e5bf8a70.5c7a18","b7fc824b.4b2b48"]]},{"id":"d21ee77a.06d338","type":"ui_chart","z":"165556c3.973579","name":"Sensors Values Over Time","group":"c55974a.348f988","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":460,"wires":[["7f6937fd.081bf"]]},{"id":"ff8bffa0.29d018","type":"mqtt in","z":"165556c3.973579","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":150,"y":460,"wires":[["c19254cf.5c211"]]},{"id":"c19254cf.5c211","type":"function","z":"165556c3.973579","name":"","func":"var payload = msg.payload;\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["d21ee77a.06d338"]]},{"id":"7f6937fd.081bf","type":"debug","z":"165556c3.973579","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":460,"wires":[]},{"id":"b7fc824b.4b2b48","type":"debug","z":"165556c3.973579","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":320,"wires":[]},{"id":"1eaa6db6.2a5192","type":"mqtt out","z":"165556c3.973579","name":"","topic":"esp/sensors","qos":"","retain":"","broker":"7771c270.8c88ec","x":570,"y":580,"wires":[]},{"id":"7f5436d2.4ba0d8","type":"inject","z":"165556c3.973579","name":"","topic":"esp/sensors","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":580,"wires":[["84fa3f54.c21588"]]},{"id":"84fa3f54.c21588","type":"function","z":"165556c3.973579","name":"","func":"msg.payload = {\n    \"temp\": 45,\n    \"humid\": 70,\n    \"light\": 50,\n    \"pir\": 0\n};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":580,"wires":[["1eaa6db6.2a5192","b16e35e8.63b558"]]},{"id":"b16e35e8.63b558","type":"debug","z":"165556c3.973579","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":540,"wires":[]},{"id":"634cf075.93e1b","type":"mqtt in","z":"e6bc050e.b26ee","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":170,"y":260,"wires":[["b6d0d4cb.05c4a"]]},{"id":"1fd70945.b8c1cf","type":"ui_gauge","z":"e6bc050e.b26ee","name":"Temperature","group":"5545d1b5.fc5da","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":260,"wires":[]},{"id":"c11a2a83.d3383","type":"function","z":"e6bc050e.b26ee","name":"payload to temp","func":"\nmsg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["1fd70945.b8c1cf"]]},{"id":"c454d9bb.29dc68","type":"mqtt out","z":"e6bc050e.b26ee","name":"","topic":"esp/sensors","qos":"","retain":"","broker":"7771c270.8c88ec","x":570,"y":80,"wires":[]},{"id":"28fe291a.8796e6","type":"inject","z":"e6bc050e.b26ee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":80,"wires":[["29dbc6c4.d646f2"]]},{"id":"29dbc6c4.d646f2","type":"function","z":"e6bc050e.b26ee","name":"random data","func":"var temp = Math.random()*100\nvar humid = Math.random()*100 \nvar light = Math.random()*100 \nvar pir = Math.random() >= 0.5; \n\nmsg.payload = {\n    \"temp\": temp,\n    \"humid\": humid,\n    \"light\": light,\n    \"pir\": pir\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["c454d9bb.29dc68"]]},{"id":"57638799.7146f8","type":"debug","z":"e6bc050e.b26ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":120,"wires":[]},{"id":"748484c9.ebb56c","type":"mqtt in","z":"e6bc050e.b26ee","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":240,"y":120,"wires":[["57638799.7146f8"]]},{"id":"b6d0d4cb.05c4a","type":"json","z":"e6bc050e.b26ee","name":"","property":"payload","action":"","pretty":false,"x":330,"y":260,"wires":[["c11a2a83.d3383"]]},{"id":"1558695b.bec61f","type":"mqtt in","z":"e6bc050e.b26ee","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":170,"y":320,"wires":[["d748c23e.666d3"]]},{"id":"f8f2adbb.355c48","type":"ui_gauge","z":"e6bc050e.b26ee","name":"Humidity","group":"5545d1b5.fc5da","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":320,"wires":[]},{"id":"3291de6c.b847ea","type":"function","z":"e6bc050e.b26ee","name":"payload to humid","func":"\nmsg.payload = msg.payload.humid;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["f8f2adbb.355c48"]]},{"id":"d748c23e.666d3","type":"json","z":"e6bc050e.b26ee","name":"","property":"payload","action":"","pretty":false,"x":330,"y":320,"wires":[["3291de6c.b847ea"]]},{"id":"d4aaa3af.3ad69","type":"mqtt in","z":"e6bc050e.b26ee","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":170,"y":380,"wires":[["9bcbf312.977ff8"]]},{"id":"7aa97a33.f10954","type":"ui_gauge","z":"e6bc050e.b26ee","name":"Light","group":"5545d1b5.fc5da","order":0,"width":0,"height":0,"gtype":"gage","title":"Light","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":380,"wires":[]},{"id":"cef93c85.b702e","type":"function","z":"e6bc050e.b26ee","name":"payload to light","func":"\nmsg.payload = msg.payload.light;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":380,"wires":[["7aa97a33.f10954"]]},{"id":"9bcbf312.977ff8","type":"json","z":"e6bc050e.b26ee","name":"","property":"payload","action":"","pretty":false,"x":330,"y":380,"wires":[["cef93c85.b702e"]]},{"id":"acaab87d.92a96","type":"mqtt in","z":"e6bc050e.b26ee","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":170,"y":440,"wires":[["823ca6f6.d26758"]]},{"id":"6b53cee7.446ea8","type":"ui_gauge","z":"e6bc050e.b26ee","name":"Pir","group":"5545d1b5.fc5da","order":0,"width":0,"height":0,"gtype":"gage","title":"Pir","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":440,"wires":[]},{"id":"7bc28068.9ed988","type":"function","z":"e6bc050e.b26ee","name":"payload to pir","func":"var pir = msg.payload.pir;\nif(pir)\n    msg.payload = 1;\nelse\n    msg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["6b53cee7.446ea8"]]},{"id":"823ca6f6.d26758","type":"json","z":"e6bc050e.b26ee","name":"","property":"payload","action":"","pretty":false,"x":330,"y":440,"wires":[["7bc28068.9ed988"]]}]