node-red/flows.json
[{"id":"165556c3.973579","type":"tab","label":"Chart","disabled":false,"info":""},{"id":"e6bc050e.b26ee","type":"tab","label":"Sensors Real Time","disabled":false,"info":""},{"id":"f2c972ab.af95e","type":"tab","label":"MQTT Sub Test","disabled":true,"info":""},{"id":"d5c1324c.f29c8","type":"tab","label":"MQTT Pub Test","disabled":true,"info":""},{"id":"c7223676.206a18","type":"tab","label":"MQTT Pub To Mongo","disabled":false,"info":"First subscribe to MQTT topic.\nListen on that topic.\nUpon new message, process the string.\nIf valid json string (format, etc.), then upload to db."},{"id":"f668a49b.b50f18","type":"tab","label":"Test BIGML","disabled":false,"info":""},{"id":"7771c270.8c88ec","type":"mqtt-broker","z":"","name":"localhost connection","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"35aa439f.024c3c","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"iot","name":"IOT Database Connection"},{"id":"c55974a.348f988","type":"ui_group","z":"","name":"Sensors Values Over Time","tab":"4be093fd.d659dc","order":2,"disp":true,"width":"6","collapse":false},{"id":"4be093fd.d659dc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"5ad64a23.2527e4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5545d1b5.fc5da","type":"ui_group","z":"","name":"Sensors Real Time","tab":"4be093fd.d659dc","order":1,"disp":true,"width":"6","collapse":false},{"id":"51f5012.88e1c8","type":"mqtt in","z":"f2c972ab.af95e","name":"","topic":"test","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":230,"y":260,"wires":[["c0104ec.4e99b3"]]},{"id":"c0104ec.4e99b3","type":"debug","z":"f2c972ab.af95e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":260,"wires":[]},{"id":"ee2ca0b4.370fc8","type":"mqtt out","z":"d5c1324c.f29c8","name":"","topic":"test","qos":"","retain":"","broker":"7771c270.8c88ec","x":450,"y":240,"wires":[]},{"id":"69ba30d8.3268c","type":"inject","z":"d5c1324c.f29c8","name":"","topic":"","payload":"Test MQTT Pub String","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":240,"wires":[["ee2ca0b4.370fc8"]]},{"id":"26b3ee3f.83a162","type":"mqtt in","z":"c7223676.206a18","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":220,"y":340,"wires":[["fd434f08.6c7d28","4497ac47.3c6394"]]},{"id":"fd434f08.6c7d28","type":"debug","z":"c7223676.206a18","name":"ESP Sensor Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":260,"wires":[]},{"id":"b5529f41.e66c98","type":"mongodb out","z":"c7223676.206a18","mongodb":"35aa439f.024c3c","name":"Insert Sensor Data","collection":"esp_sensors","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":650,"y":340,"wires":[]},{"id":"4497ac47.3c6394","type":"json","z":"c7223676.206a18","name":"","property":"payload","action":"","pretty":true,"x":410,"y":360,"wires":[["b5529f41.e66c98","6beb2456.f3941c"]]},{"id":"6beb2456.f3941c","type":"debug","z":"c7223676.206a18","name":"Debug insertion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":420,"wires":[]},{"id":"4a43394d.41b678","type":"inject","z":"c7223676.206a18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":560,"wires":[["4c455838.11c418"]]},{"id":"4c455838.11c418","type":"mongodb in","z":"c7223676.206a18","mongodb":"35aa439f.024c3c","name":"find all esp_sensors","collection":"esp_sensors","operation":"find","x":420,"y":560,"wires":[["e9913b18.d99038"]]},{"id":"e9913b18.d99038","type":"debug","z":"c7223676.206a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":560,"wires":[]},{"id":"d21ee77a.06d338","type":"ui_chart","z":"165556c3.973579","name":"Sensors Values Over Time","group":"c55974a.348f988","order":2,"width":"0","height":"0","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":200,"wires":[["7f6937fd.081bf"]]},{"id":"ff8bffa0.29d018","type":"mqtt in","z":"165556c3.973579","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":190,"y":280,"wires":[["c19254cf.5c211"]]},{"id":"c19254cf.5c211","type":"function","z":"165556c3.973579","name":"","func":"var msg1 = {}, msg2 = {}, msg3 = {}, msg4={}\n\nmsg1.payload = Math.random()*60;\nmsg1.topic = \"Temperature\"\n\nmsg2.payload = Math.random()*50;\nmsg2.topic = \"Humidity\"\n\nmsg3.payload = Math.random()*50;\nmsg3.topic = \"Light\"\n\nmsg4.payload = Math.random()*50;\nmsg4.topic = \"Motion\"\n\nreturn [msg1, msg2, msg3, msg4]","outputs":4,"noerr":0,"x":330,"y":220,"wires":[["d21ee77a.06d338","f27caf9d.251e"],["d21ee77a.06d338"],["d21ee77a.06d338"],["d21ee77a.06d338"]]},{"id":"7f6937fd.081bf","type":"debug","z":"165556c3.973579","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":280,"wires":[]},{"id":"1eaa6db6.2a5192","type":"mqtt out","z":"165556c3.973579","name":"","topic":"esp/sensors","qos":"","retain":"","broker":"7771c270.8c88ec","x":570,"y":580,"wires":[]},{"id":"7f5436d2.4ba0d8","type":"inject","z":"165556c3.973579","name":"","topic":"esp/sensors","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":580,"wires":[["84fa3f54.c21588"]]},{"id":"84fa3f54.c21588","type":"function","z":"165556c3.973579","name":"","func":"\n\nvar temp = Math.round(Math.random()*60+20)\nvar humid = Math.round(Math.random()*60+20)\nvar light = Math.round(Math.random()*60+20)\nvar pir = Math.round(Math.random()>=0.5)\n\nmsg.payload = {\n    \"temp\": temp,\n    \"humid\": humid,\n    \"light\": light,\n    \"pir\": pir\n};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":580,"wires":[["1eaa6db6.2a5192","b16e35e8.63b558"]]},{"id":"b16e35e8.63b558","type":"debug","z":"165556c3.973579","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":540,"wires":[]},{"id":"1fd70945.b8c1cf","type":"ui_gauge","z":"e6bc050e.b26ee","name":"Temperature","group":"5545d1b5.fc5da","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":260,"wires":[]},{"id":"c11a2a83.d3383","type":"function","z":"e6bc050e.b26ee","name":"payload to temp","func":"\nmsg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["1fd70945.b8c1cf"]]},{"id":"c454d9bb.29dc68","type":"mqtt out","z":"e6bc050e.b26ee","name":"","topic":"esp/sensors","qos":"","retain":"","broker":"7771c270.8c88ec","x":570,"y":80,"wires":[]},{"id":"28fe291a.8796e6","type":"inject","z":"e6bc050e.b26ee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":80,"wires":[["29dbc6c4.d646f2"]]},{"id":"29dbc6c4.d646f2","type":"function","z":"e6bc050e.b26ee","name":"random data","func":"var temp = Math.round(Math.random()*100)\nvar humid = Math.round(Math.random()*100)\nvar light = Math.round(Math.random()*100)\nvar pir = Math.random() >= 0.5; \n\nmsg.payload = {\n    \"temp\": temp,\n    \"humid\": humid,\n    \"light\": light,\n    \"pir\": pir\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["c454d9bb.29dc68"]]},{"id":"57638799.7146f8","type":"debug","z":"e6bc050e.b26ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":120,"wires":[]},{"id":"748484c9.ebb56c","type":"mqtt in","z":"e6bc050e.b26ee","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":240,"y":120,"wires":[["57638799.7146f8"]]},{"id":"f8f2adbb.355c48","type":"ui_gauge","z":"e6bc050e.b26ee","name":"Humidity","group":"5545d1b5.fc5da","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":320,"wires":[]},{"id":"3291de6c.b847ea","type":"function","z":"e6bc050e.b26ee","name":"payload to humid","func":"\nmsg.payload = msg.payload.humid;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["f8f2adbb.355c48"]]},{"id":"7aa97a33.f10954","type":"ui_gauge","z":"e6bc050e.b26ee","name":"Light","group":"5545d1b5.fc5da","order":0,"width":0,"height":0,"gtype":"gage","title":"Light","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":380,"wires":[]},{"id":"cef93c85.b702e","type":"function","z":"e6bc050e.b26ee","name":"payload to light","func":"\nmsg.payload = msg.payload.light;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":380,"wires":[["7aa97a33.f10954"]]},{"id":"acaab87d.92a96","type":"mqtt in","z":"e6bc050e.b26ee","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"7771c270.8c88ec","x":90,"y":340,"wires":[["823ca6f6.d26758"]]},{"id":"6b53cee7.446ea8","type":"ui_gauge","z":"e6bc050e.b26ee","name":"Pir","group":"5545d1b5.fc5da","order":0,"width":0,"height":0,"gtype":"gage","title":"Pir","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":440,"wires":[]},{"id":"7bc28068.9ed988","type":"function","z":"e6bc050e.b26ee","name":"payload to pir","func":"var pir = msg.payload.pir;\nif(pir)\n    msg.payload = 1;\nelse\n    msg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["6b53cee7.446ea8"]]},{"id":"823ca6f6.d26758","type":"json","z":"e6bc050e.b26ee","name":"","property":"payload","action":"","pretty":false,"x":250,"y":340,"wires":[["7bc28068.9ed988","cef93c85.b702e","3291de6c.b847ea","c11a2a83.d3383"]]},{"id":"1fa4107a.29feb8","type":"source","z":"f668a49b.b50f18","item_analysis":"","project":"","remote":"","name":"Source","reify":false,"synthetic":"","source_parser":"","file":"/home/shlomi/Downloads/iris.csv","disable_datetime":false,"data":"","term_analysis":"","x":200,"y":260,"wires":[["31913ee9.396452"]]},{"id":"31913ee9.396452","type":"dataset","z":"f668a49b.b50f18","objective_field":"","origin":"","refresh_field_types":false,"tags":"","name":"dataset","reify":false,"term_limit":0,"excluded_fields":"","shared_hash":"","fields":"","refresh_objective":false,"json_filter":"","category":0,"size":0,"webhook":"","lisp_filter":"","description":"","input_fields":"","x":360,"y":260,"wires":[["90c60e98.0b0c5"]]},{"id":"90c60e98.0b0c5","type":"ensemble","z":"f668a49b.b50f18","objective_field":"","weight_field":"","range":0,"random_candidates":0,"boosting":"","random_candidate_ratio":0,"replacement":false,"tags":"","ordering":0,"optimize":false,"name":"ensemble","reify":false,"seed":"","randomize":false,"excluded_fields":"","missing_splits":false,"balance_objective":false,"stat_pruning":true,"fields":"","split_candidates":32,"depth_threshold":512,"category":0,"webhook":"","number_of_models":10,"node_threshold":512,"max_training_time":1800,"model_candidates":128,"objective_weights":"","out_of_bag":false,"description":"","sample_rate":1,"support_threshold":0,"input_fields":"","x":520,"y":260,"wires":[["e26fe104.50ff88","4730b199.8b5ce"]]},{"id":"4730b199.8b5ce","type":"reify","z":"f668a49b.b50f18","name":"Reify","input_keypath":"","output_keypath":"","reify":true,"x":670,"y":260,"wires":[["53c886a.2003778"]],"inputLabels":["ensemble"]},{"id":"53c886a.2003778","type":"debug","z":"f668a49b.b50f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":320,"wires":[]},{"id":"318cfab0.2342be","type":"inject","z":"f668a49b.b50f18","name":"","topic":"","payload":"{\"input_data\":{\"sepal length\":2.1,\"petal width\":\"3.0\"},\"BIGML_USERNAME\":\"shlomirex\",\"BIGML_API_KEY\":\"bc6c6d1bb2bf7eff67f471d0abda23c8ebb76144\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["1fa4107a.29feb8"]]},{"id":"e26fe104.50ff88","type":"debug","z":"f668a49b.b50f18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":200,"wires":[]},{"id":"4d7f81ff.a6afa8","type":"prediction","z":"f668a49b.b50f18","explain":false,"vote_counts":"","private":false,"tags":"","name":"prediction","reify":false,"vote_count":0.5,"missing_strategy":0,"operating_kind":null,"category":0,"webhook":"","operating_point":"","description":"","x":460,"y":460,"wires":[["138bed1d.a16aeb"]]},{"id":"138bed1d.a16aeb","type":"reify","z":"f668a49b.b50f18","name":"Reify","input_keypath":"","output_keypath":"","reify":true,"x":610,"y":460,"wires":[["de1c292d.d8dd38","5b53c51.ea490bc"]],"inputLabels":["prediction"],"outputLabels":["predictionOutcome"]},{"id":"8a1136bd.b2f0c","type":"inject","z":"f668a49b.b50f18","name":"","topic":"","payload":"{\"input-data\":{\"sepal length\":2.1,\"petal width\":\"3.0\"},\"BIGML_USERNAME\":\"shlomirex\",\"BIGML_API_KEY\":\"bc6c6d1bb2bf7eff67f471d0abda23c8ebb76144\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["29df7dd0.01a0ba"]]},{"id":"de1c292d.d8dd38","type":"debug","z":"f668a49b.b50f18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":460,"wires":[]},{"id":"29df7dd0.01a0ba","type":"find","z":"f668a49b.b50f18","name":"Find resources","resource_type":"model","resource_name":"","tag":"","limit":1,"sort_field":"","order":"asc","reify":false,"x":280,"y":460,"wires":[["4d7f81ff.a6afa8"]],"outputLabels":["model"]},{"id":"5b53c51.ea490bc","type":"debug","z":"f668a49b.b50f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.predictionOutcome","targetType":"msg","x":820,"y":560,"wires":[]},{"id":"f27caf9d.251e","type":"debug","z":"165556c3.973579","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":360,"wires":[]},{"id":"1673187d.f6b688","type":"inject","z":"165556c3.973579","name":"RESET CHART :D","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":500,"wires":[["d21ee77a.06d338"]]}]