models/flows.json
[{"id":"dfb1e7e5.16cc98","type":"tab","label":"MQTT Sub Test","disabled":false,"info":""},{"id":"c180af89.13e0f8","type":"tab","label":"MQTT Pub Test","disabled":false,"info":""},{"id":"ef2619df.bcdeb","type":"tab","label":"MQTT Pub To Mongo","disabled":false,"info":"First subscribe to MQTT topic.\nListen on that topic.\nUpon new message, process the string.\nIf valid json string (format, etc.), then upload to db."},{"id":"66b762c5.16ae34","type":"mqtt-broker","z":"","name":"localhost connection","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85b5801e.ea2048","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"iot","name":"IOT Database Connection"},{"id":"efa1653.4859c18","type":"mqtt in","z":"dfb1e7e5.16cc98","name":"","topic":"test","qos":"2","datatype":"auto","broker":"66b762c5.16ae34","x":230,"y":260,"wires":[["5735139c.79913c"]]},{"id":"5735139c.79913c","type":"debug","z":"dfb1e7e5.16cc98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":260,"wires":[]},{"id":"cf174d86.4535b","type":"mqtt out","z":"c180af89.13e0f8","name":"","topic":"test","qos":"","retain":"","broker":"66b762c5.16ae34","x":450,"y":240,"wires":[]},{"id":"f414a062.5dc6c","type":"inject","z":"c180af89.13e0f8","name":"","topic":"","payload":"Test MQTT Pub String","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":240,"wires":[["cf174d86.4535b"]]},{"id":"857470af.598ac","type":"mqtt in","z":"ef2619df.bcdeb","name":"","topic":"esp/sensors","qos":"2","datatype":"auto","broker":"66b762c5.16ae34","x":220,"y":340,"wires":[["4fa23fed.9674c8","bdb8f51a.2bae7"]]},{"id":"4fa23fed.9674c8","type":"debug","z":"ef2619df.bcdeb","name":"ESP Sensor Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":260,"wires":[]},{"id":"5272a509.b5b64c","type":"mongodb out","z":"ef2619df.bcdeb","mongodb":"85b5801e.ea2048","name":"Insert Sensor Data","collection":"esp_sensors","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":650,"y":340,"wires":[]},{"id":"bdb8f51a.2bae7","type":"json","z":"ef2619df.bcdeb","name":"","property":"payload","action":"","pretty":true,"x":410,"y":360,"wires":[["5272a509.b5b64c","49eb543c.9d80f4"]]},{"id":"49eb543c.9d80f4","type":"debug","z":"ef2619df.bcdeb","name":"Debug insertion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":420,"wires":[]},{"id":"9ab3c82c.25047","type":"inject","z":"ef2619df.bcdeb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":560,"wires":[["e58ae631.336688"]]},{"id":"e58ae631.336688","type":"mongodb in","z":"ef2619df.bcdeb","mongodb":"85b5801e.ea2048","name":"find all esp_sensors","collection":"esp_sensors","operation":"find","x":420,"y":560,"wires":[["6885e3fb.6ace6c"]]},{"id":"6885e3fb.6ace6c","type":"debug","z":"ef2619df.bcdeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":560,"wires":[]}]